$container-background-color:#AEE1E1;
$body-background-color:#ECE2E1;
$font-family-text:'Smooch Sans', sans-serif;
$font-family-titles:'Genos', sans-serif;
$padding-1: 1rem;
$font-size1:1rem;
$font-size2:2rem;
$font-size3:3rem;
$font-size4:4rem;
$font-size1-5:1.5rem;
$margin-1:1rem;
