@import "../abstract/mixins.scss";
@import "../abstract/variables.scss";

.container{
    height: 100vh;
    background-color: $container-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    .instructions{
        padding:1rem;
        .instructions__header{
            font-size: 2rem;
            font-family:$font-family-titles;
        }
        .list{
            font-size: $font-size1;
            list-style: inside;
            list-style-type: upper-roman;
        }
    }
    .display{
        .display__header{
            padding:$padding-1;
            font-family: $font-family-titles;
        } 
        .display__description{
            @include box ($padding-1,$font-size1-5);
        }
        .display__label{
            @include box ($padding-1,$font-size1-5);

        }           
        .display__input{
            margin:$margin-1;
            padding:$padding-1;
            width: 90vw;
            font-size: large;
        }
        .display__result{
            @include box ($padding-1,$font-size1-5);
        }
    }
}
    
    
