.container {
  height: 100vh;
  background-color: #AEE1E1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .instructions {
  padding: 1rem;
}
.container .instructions .instructions__header {
  font-size: 2rem;
  font-family: "Genos", sans-serif;
}
.container .instructions .list {
  font-size: 1rem;
  list-style: inside;
  list-style-type: upper-roman;
}
.container .display .display__header {
  padding: 1rem;
  font-family: "Genos", sans-serif;
}
.container .display .display__description {
  padding: 1rem;
  font-size: 1.5rem;
}
.container .display .display__label {
  padding: 1rem;
  font-size: 1.5rem;
}
.container .display .display__input {
  margin: 1rem;
  padding: 1rem;
  width: 90vw;
  font-size: large;
}
.container .display .display__result {
  padding: 1rem;
  font-size: 1.5rem;
}