@media screen and (min-width: 1024px) {
  body {
    background-color: #ECE2E1;
  }
  body .container {
    height: 50%;
    margin: 2rem;
  }
  body .container .instructions {
    padding: 1rem;
  }
  body .container .instructions .instructions__header {
    font-size: 4rem;
  }
  body .container .instructions .list {
    font-size: 2rem;
    list-style: inside;
    list-style-type: upper-roman;
  }
  body .container .display .display__header {
    font-size: 4rem;
  }
  body .container .display .display__description {
    padding: 1rem;
    font-size: 3rem;
  }
  body .container .display .display__label {
    padding: 1rem;
    font-size: 3rem;
  }
  body .container .display .display__input {
    font-size: 3rem;
  }
  body .container .display .display__result {
    padding: 1rem;
    font-size: 3rem;
  }
  body .container .buttons .buttons__styles {
    padding: 2rem;
    margin: 1.5rem;
    font-size: 2rem;
  }
}